@font-face {
    font-family: 'font';
    src: url('fonts/Montserrat-VariableFont_wght.ttf');
}
* {
    font-family: 'font';
}
h1 {
    font-size: 50px;
    width: fit-content;
    margin: auto;
}

h3 {
    margin: 70px auto 0;
    width: fit-content;
}
.cont {
    margin: 100px 0;
    display: flex;
    justify-content: space-evenly;
}
.cont a {
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: calc(50% - 20px);
    background-color: #F5EFE7;
    border-radius: 10px;
    padding: 40px 0;
    transition: 0.3s;
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    position: relative;
}
.cont a:hover {
    width: 50%;
    padding: 80px 0;
}
.cont a h4 {
    width: 100%;
    font-size: 20px;
    text-align: center;
}
p {
    text-align: center;
}
.cont a.quiz p {
    width: 90%;
}
i {
    font-size: 30px;
}
a.quiz {
    /* opacity: 0.8; */
    background-color: rgba(245, 239, 231, 0.5);
    z-index: -2;
}
.cont a.quiz::after {
    content: "it's not available now";
    position: absolute;
    right: 0;
    top: 0;
    background-color: #F5EFE7;
    z-index: 2;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

